#pixiv_popupViewer_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 9999;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: 0.2s;
}

#pixiv_popupViewer_container.show {
    visibility: visible;
    opacity: 1;
}

#pixiv_popupViewer_container:not(.show) > #pixiv_popupViewer_previous_work_button, #pixiv_popupViewer_container:not(.show) > #pixiv_popupViewer_next_work_button {
    visibility: hidden;
}

#pixiv_popupViewer {
    order: 2;
    inset: 0;
    z-index: 9999;
    width: 80%;
    height: 90%;
    margin: auto 0;
    border: 0;
    background-color: #fff;
    user-select: none;
    transition: 0.2s;
}

#pixiv_popupViewer.dark {
    background-color: #000000;
}

#pixiv_popupViewer_switch_expand_button {
    z-index: 10001;
    position: fixed;
    top: 24px;
    right: 24px;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    padding: 12px;
    border-radius: 24px;
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: 0.2s;
}

#pixiv_popupViewer_previous_work_button {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    z-index: 10000;
    visibility: hidden;
    width: 5%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: 0.2s;
}

#pixiv_popupViewer_next_work_button {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 3;
    z-index: 10000;
    visibility: hidden;
    width: 5%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: 0.2s;
}

#pixiv_popupViewer_previous_work_button.show, #pixiv_popupViewer_next_work_button.show {
    visibility: visible;
}

#pixiv_popupViewer_previous_work_button *, #pixiv_popupViewer_next_work_button * {
    pointer-events: none;
}

#pixiv_popupViewer_switch_expand_button:hover, #pixiv_popupViewer_previous_work_button:hover, #pixiv_popupViewer_next_work_button:hover {
    background-color: #0096fa;
}